.todo-list-container {
  margin: auto;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  margin-top: 2rem;
}

.todo-list-count {
  text-align: left;
  font-size: 14px;
  margin: 0;
  color: rgba(0,0,0, 0.5);
  margin-bottom: 1rem;
}

.todo-list-empty-message {
  color: rgba(0,0,0, 0.75);
}