.App {
  text-align: center;
}

.app-container {
  background-color: #E9ECF5;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

.app-title {
  margin: 0;
  margin-bottom: 2rem;
}

.app-title-span {
  color: #AE76A6;
}
